/* Header */
.header {
   width: 1200px;
   max-width: 100%;
   margin: 0 auto;
   height: 70px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.5rem;
   color: var(--text-color);
}

.nav__list {
   padding-left: 0;
   display: flex;
   justify-content: space-between;
   list-style: none;
}

.nav__item:first-child {
   font-weight: 600;
   color: var(--primary-color);
}

.nav__item + .nav__item {
   margin-left: 24px;
}

.header__action {
   display: flex;
   justify-content: space-between;
}

.action__search {
   position: relative;
}

.search__input {
   width: 200px;
   height: 34px;
   border-radius: 4px;
   outline: none;
   border: 1.5px solid var(--text-color);
   padding-left: 28px;
   opacity: 0.4;
}

.action__search i {
   font-size: 1.1rem;
   opacity: 0.4;
   position: absolute;
   top: 50%;
   left: 12px;
   transform: translateY(-50%);
}

/* Content */
.content {
   width: 1200px;
   max-width: 100%;
   margin: 70px auto 0;
}

.sales-product {
   display: flex;
   justify-content: space-between;
}

.sales-product__img {
   position: relative;
   display: flex;
}

.sales-product__sub-img {
   display: flex;
   flex-direction: column;
}

.breadcrumb {
   display: flex;
   align-items: center;
   margin-bottom: 24px;
}

.breadcrumb a {
   color: var(--primary-color);
   text-decoration: none;
   font-size: 1.4rem;
}

.breadcrumb a:last-of-type {
   color: var(--text-color);
}

.breadcrumb img {
   height: 13px;
   margin: 0 16px;
}

/* Product */
.sales-product__sub-img img + img {
   margin-top: 12px;
}

.sales-product__info-buy {
   padding-left: 28px;
   font-size: 1.4rem;
   color: var(--text-color);
}

.product__name {
   margin: 0;
   font-size: 4rem;
   color: var(--black);
}

.product__name-info {
   margin-top: 0;
}

.product__price {
   font-size: 2rem;
   display: flex;
   align-items: center;
}

.product__price span:first-child {
   margin-right: 12px;
}

.product__price--big-primary {
   font-size: 4rem;
   color: var(--primary-color);
   font-weight: 600;
}

.product__rating {
   display: flex;
   align-items: center;
   font-size: 1.5rem;
}

.product__rating b {
   color: var(--black);
}

.product__rating p + p {
   margin-left: 24px;
}

.product__rating p:last-child {
   display: flex;
   align-items: center;
}

.rating-start {
   margin-right: 4px;
}

.product__commit {
   display: flex;
   align-items: center;
}

.product__commit img {
   height: 22px;
   margin-right: 8px;
}

.product__commit p {
   margin: 10px 0;
}

.product__size {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
}

.product__size label {
   color: #49515c;
   font-size: 1.6rem;
   font-weight: 600;
   margin: 4px 0;
}

.product__size select {
   padding-left: 6px;
   height: 40px;
   outline: none;
   border: none;
   background-color: #f0edee;
   border-radius: 4px;
   cursor: pointer;
}

.product__qty {
   margin-top: 24px;
}

.product__qty label {
   font-size: 1.6rem;
   color: #49515c;
   font-weight: 600;
}

.product__qty-action {
   display: flex;
   align-items: center;
   margin: 8px 0 22px;
}

.product__qty-action button {
   width: 40px;
   height: 44px;
   border: none;
   padding: 0;
   border-radius: 4px;
   overflow: hidden;
   cursor: pointer;
}

.product__qty input {
   width: 38px;
   height: 44px;
   margin: 0 16px;
   border: none;
   background-color: #f0edee;
   border-radius: 4px;
   text-align: center;
   outline: none;
}

.product__buy button:first-child {
   margin-right: 24px;
}

.product__buy i {
   margin-right: 8px;
}

/* Related Product */
.relate-product__title {
   margin-top: 130px;
   font-size: 3.2rem;
   color: var(--black);
}

.relate-product__list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   list-style: none;
   padding-left: 0;
}

.relate-product__item {
   max-width: 276px;
}

.relate-product__name {
   color: var(--black);
   font-size: 1.8rem;
   margin-bottom: 0;
}

.relate-product__desc {
   margin-top: 0;
   color: var(--text-color);
   font-size: 1.4rem;
}

.relate-product__buy {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.relate-product__price {
   display: flex;
   align-items: center;
}

.relate-product__price span:first-child {
   font-size: 3rem;
   font-weight: 600;
   color: var(--black);
   margin-right: 8px;
}

.relate-product__price span:last-child {
   font-size: 1.6rem;
   font-weight: 500;
   color: var(--text-color);
}

.menu-info {
   margin-top: 120px;
}

.menu-info__list {
   max-width: calc(1200px - 46px * 2);
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   padding-left: 0;
   list-style: none;
}

.menu-info__item {
   position: relative;
   border-radius: 4px;
}

.menu-info__item-link {
   display: inline-block;
   padding: 12px 0;
   font-size: 1.8rem;
   width: 216px;
   text-decoration: none;
   color: var(--primary-color);
   text-align: center;
}

.menu-info__item + .menu-info__item::after {
   display: block;
   content: "";
   height: 30px;
   border-right: 2px solid var(--primary-color);
   opacity: 0.2;
   position: absolute;
   left: -2%;
   top: 50%;
   transform: translateY(-50%);
}

.menu-info__item--active + .menu-info__item::after {
   display: none;
}

.menu-info__item--active {
   background-color: rgba(69, 157, 122, 0.3);
}

/* Benefits */
.benefits {
   display: flex;
   justify-content: space-between;
   margin-top: 34px;
}

.benefits__text {
   width: 500px;
}

.benefits__title {
   font-size: 4rem;
   margin: 116px 0 0;
   color: var(--black);
}

.benefits__text h2 {
   margin-bottom: 0;
   font-size: 2rem;
   color: var(--black);
}

.benefits__text p {
   margin-top: 0;
   font-size: 1.5rem;
   color: var(--text-color);
}

/* Ingredients */
.ingredients {
   margin-top: 80px;
}

.ingredients h1 {
   font-size: 4rem;
   color: var(--black);
}

.ingredients__list {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 46px;
   list-style: none;
   padding-left: 0;
}

.ingredients img {
   border-radius: 8px;
   width: 100%;
}

.ingredients h2 {
   font-size: 2.2rem;
   color: var(--black);
   margin-bottom: 0;
}

.ingredients p {
   margin-top: 0;
   color: var(--text-color);
   font-size: 1.6rem;
}

.ingredients__show-more {
   text-align: center;
}

.ingredients__btn-show-more {
   width: 196px;
}

/* How to use */
.htu {
   position: relative;
}

.htu__title {
   font-size: 4rem;
   color: var(--black);
}

.htu__btn-play {
   width: 176px;
   height: 52px;
   font-size: 1.8rem;
   background-color: #181a20;
   border-radius: 4px;
   color: var(--white);
   border: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.htu__btn-play i {
   margin-left: 4px;
   font-size: 1.6rem;
}
