/* Header */
.header {
   width: 1200px;
   max-width: 100%;
   margin: 0 auto;
   height: 70px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.5rem;
   color: var(--text-color);
}

.nav__list {
   padding-left: 0;
   display: flex;
   justify-content: space-between;
   list-style: none;
}

.nav__item:first-child {
   font-weight: 600;
   color: var(--primary-color);
}

.nav__item + .nav__item {
   margin-left: 24px;
}

.header__action {
   display: flex;
   justify-content: space-between;
}

.action__search {
   position: relative;
}

.search__input {
   width: 200px;
   height: 34px;
   border-radius: 4px;
   outline: none;
   border: 1.5px solid var(--text-color);
   padding-left: 28px;
   opacity: 0.4;
}

.action__search i {
   font-size: 1.1rem;
   opacity: 0.4;
   position: absolute;
   top: 50%;
   left: 12px;
   transform: translateY(-50%);
}

/* Content */
.content {
   width: 1200px;
   max-width: 100%;
   margin: 70px auto 0;
}

.sales-product {
   display: flex;
   justify-content: space-between;
}

.sales-product__img {
   position: relative;
   display: flex;
}

.sales-product__sub-img {
   display: flex;
   flex-direction: column;
}

.breadcrumb {
   display: flex;
   align-items: center;
   margin-bottom: 24px;
}

.breadcrumb a {
   color: var(--primary-color);
   text-decoration: none;
   font-size: 1.4rem;
}

.breadcrumb a:last-of-type {
   color: var(--text-color);
}

.breadcrumb img {
   height: 13px;
   margin: 0 16px;
}

/* Product */
.sales-product__sub-img img + img {
   margin-top: 12px;
}

.sales-product__info-buy {
   padding-left: 28px;
   font-size: 1.4rem;
   color: var(--text-color);
}

.product__name {
   margin: 0;
   font-size: 4rem;
   color: var(--black);
}

.product__name-info {
   margin-top: 0;
}

.product__price {
   font-size: 2rem;
   display: flex;
   align-items: center;
}

.product__price span:first-child {
   margin-right: 12px;
}

.product__price--big-primary {
   font-size: 4rem;
   color: var(--primary-color);
   font-weight: 600;
}

.product__rating {
   display: flex;
   align-items: center;
   font-size: 1.5rem;
}

.product__rating b {
   color: var(--black);
}

.product__rating p + p {
   margin-left: 24px;
}

.product__rating p:last-child {
   display: flex;
   align-items: center;
}

.rating-start {
   margin-right: 4px;
}

.product__commit {
   display: flex;
   align-items: center;
}

.product__commit img {
   height: 22px;
   margin-right: 8px;
}

.product__commit p {
   margin: 10px 0;
}

.product__size {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
}

.product__size label {
   color: #49515c;
   font-size: 1.6rem;
   font-weight: 600;
   margin: 4px 0;
}

.product__size select {
   padding-left: 6px;
   height: 40px;
   outline: none;
   border: none;
   background-color: #f0edee;
   border-radius: 4px;
   cursor: pointer;
}

.product__qty {
   margin-top: 24px;
}

.product__qty label {
   font-size: 1.6rem;
   color: #49515c;
   font-weight: 600;
}

.product__qty-action {
   display: flex;
   align-items: center;
   margin: 8px 0 22px;
}

.product__qty-action button {
   width: 40px;
   height: 44px;
   border: none;
   padding: 0;
   border-radius: 4px;
   overflow: hidden;
   cursor: pointer;
}

.product__qty input {
   width: 38px;
   height: 44px;
   margin: 0 16px;
   border: none;
   background-color: #f0edee;
   border-radius: 4px;
   text-align: center;
   outline: none;
}

.product__buy button:first-child {
   margin-right: 24px;
}

.product__buy i {
   margin-right: 8px;
}

/* Related Product */
.relate-product__title {
   margin-top: 130px;
   font-size: 3.2rem;
   color: var(--black);
}

.relate-product__list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   list-style: none;
   padding-left: 0;
}

.relate-product__item {
   max-width: 276px;
}

.relate-product__name {
   color: var(--black);
   font-size: 1.8rem;
   margin-bottom: 0;
}

.relate-product__desc {
   margin-top: 0;
   color: var(--text-color);
   font-size: 1.4rem;
}

.relate-product__buy {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.relate-product__price {
   display: flex;
   align-items: center;
}

.relate-product__price span:first-child {
   font-size: 3rem;
   font-weight: 600;
   color: var(--black);
   margin-right: 8px;
}

.relate-product__price span:last-child {
   font-size: 1.6rem;
   font-weight: 500;
   color: var(--text-color);
}

.menu-info {
   margin-top: 120px;
}

.menu-info__list {
   max-width: calc(1200px - 46px * 2);
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   padding-left: 0;
   list-style: none;
}

.menu-info__item {
   position: relative;
   border-radius: 4px;
}

.menu-info__item-link {
   display: inline-block;
   padding: 12px 0;
   font-size: 1.8rem;
   width: 216px;
   text-decoration: none;
   color: var(--primary-color);
   text-align: center;
}

.menu-info__item + .menu-info__item::after {
   display: block;
   content: "";
   height: 30px;
   border-right: 2px solid var(--primary-color);
   opacity: 0.2;
   position: absolute;
   left: -2%;
   top: 50%;
   transform: translateY(-50%);
}

.menu-info__item--active + .menu-info__item::after {
   display: none;
}

.menu-info__item--active {
   background-color: rgba(69, 157, 122, 0.3);
}

/* Benefits */
.benefits {
   display: flex;
   justify-content: space-between;
   margin-top: 34px;
}

.benefits__text {
   width: 500px;
}

.benefits__title {
   font-size: 4rem;
   margin: 116px 0 0;
   color: var(--black);
}

.benefits__text h2 {
   margin-bottom: 0;
   font-size: 2rem;
   color: var(--black);
}

.benefits__text p {
   margin-top: 0;
   font-size: 1.5rem;
   color: var(--text-color);
}

/* Ingredients */
.ingredients {
   margin-top: 80px;
}

.ingredients h1 {
   font-size: 4rem;
   color: var(--black);
}

.ingredients__list {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 46px;
   list-style: none;
   padding-left: 0;
}

.ingredients img {
   border-radius: 8px;
   width: 100%;
}

.ingredients h2 {
   font-size: 2.2rem;
   color: var(--black);
   margin-bottom: 0;
}

.ingredients p {
   margin-top: 0;
   color: var(--text-color);
   font-size: 1.6rem;
}

.ingredients__show-more {
   text-align: center;
}

.ingredients__btn-show-more {
   width: 196px;
}

/* How to use */
.htu {
   position: relative;
}

.htu__title {
   font-size: 4rem;
   color: var(--black);
}

.htu__btn-play {
   width: 176px;
   height: 52px;
   font-size: 1.8rem;
   background-color: #181a20;
   border-radius: 4px;
   color: var(--white);
   border: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.htu__btn-play i {
   margin-left: 4px;
   font-size: 1.6rem;
}

/* Review */
.reviews {
   margin-top: 130px;
}

.review__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.review__title {
   font-size: 4rem;
   color: var(--black);
   margin-top: 0;
}

.review__header i {
   margin-right: 4px;
}

.review__content {
   display: flex;
   justify-content: space-between;
}

.review__summary-star {
   width: 306px;
}

.summary-star__header {
   display: flex;
   align-items: center;
}

.avg__star {
   font-size: 4.2rem;
   font-weight: 600;
}

.start-number {
   margin-left: 16px;
}

.qty__review {
   font-size: 1.4rem;
   margin-left: 12px;
   color: var(--text-color);
}

.summary-star__detailt {
   display: flex;
   align-items: center;
   font-size: 1.4rem;
   color: var(--text-color);
}

.summary-star__detailt + .summary-star__detailt {
   margin-top: 20px;
}

.summary-star__detailt img {
   margin: 0 14px;
}

.star__bgc-percent {
   width: 200px;
   height: 8px;
   border-radius: 4px;
   overflow: hidden;
   background-color: #dfe1e6;
   margin-right: 10px;
}

.start__line-percent {
   background-color: #f3c63f;
   width: 50%;
   height: 100%;
}

.review__users {
   width: 770px;
}

.review__user-header {
   display: flex;
   align-items: center;
}

.review__user-img {
   height: 44px;
   margin-right: 4px;
}

.review__user-name-activity {
   display: flex;
   align-items: center;
}

.review__user-name {
   margin: 0 6px 0 0;
   font-size: 1.3rem;
   color: var(--black);
}

.review__activity {
   font-size: 1.2rem;
   color: var(--text-color);
}

.review__comment {
   font-size: 1.4rem;
   color: var(--text-color);
   margin-top: 2px;
}

/* User Review Pagination */
.pagination__list {
   margin-left: 0;
   list-style: none;
   display: flex;
   align-items: center;
   font-size: 1.4rem;
}

.pagination__item {
   margin: 0 2px;
}

.pagination__item a {
   display: inline-block;
   color: var(--text-color);
   text-decoration: none;
   padding: 7px 12px;
   border-radius: 24px;
}

.pagination__item--active a {
   border: 1px solid var(--primary-color);
}

/* FAQs */
.faqs__title {
   font-size: 4rem;
   color: var(--black);
}

.faq__list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-left: 0;
   list-style: none;
}

.faq__item {
   width: 558px;
   position: relative;
   border: 1px solid var(--text-color);
   border-radius: 6px;
}

.faq__item + .faq__item {
   margin-top: 16px;
}

.faq__item-title {
   font-size: 1.8rem;
   font-weight: 500;
   color: var(--text-color);
   margin: 20px 96px 20px 16px;
}

.faq__item-desc {
   display: none;
}

.seeing {
   border-color: var(--primary-color);
}

.seeing .faq__item-title {
   color: var(--primary-color);
   font-weight: 600;
   margin-bottom: 0;
}

.seeing .faq__item-desc {
   display: block;
   font-size: 1.4rem;
   color: var(--text-color);
   margin: 0 50px 20px 16px;
}

.faq__more-btn {
   position: absolute;
   right: 20px;
   top: 22px;
   background-color: transparent;
   border: none;
   font-size: 2rem;
   color: var(--text-color);
}

.seeing .faq__more-btn {
   color: var(--primary-color);
   transform: rotate(90deg);
}

/* Footer */
.footer {
   background-color: #1d2128;
   color: var(--footer-text-color);
}

.footer__wrap {
   width: 1200px;
   max-width: 100%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   padding: 100px 0 92px;
}

/* Footer Left */
.footer__left {
   width: 480px;
}

.footer__wrap-info {
   display: flex;
   justify-content: space-between;
}

.footer-info__title {
   font-size: 2.2rem;
}

.footer-info__list {
   padding-left: 0;
   list-style-type: none;
   font-size: 1.4rem;
}

.footer-info__item + .footer-info__item {
   margin-top: 18px;
}

.footer__lang {
   width: 124px;
   height: 34px;
   font-size: 1.4rem;
   background-color: transparent;
   border: 1px solid var(--footer-text-color);
   border-radius: 4px;
   color: var(--footer-text-color);
   padding: 4px;
   outline: none;
}

/* Footer Right */
.footer__right {
   width: 430px;
}

.promotion__title {
   font-size: 2.2rem;
   margin-bottom: 0;
}

.promotion__desc {
   font-size: 1.6em;
}

.promotion__input-email {
   display: flex;
   height: 48px;
}

.promotion__input {
   height: 100%;
   width: 300px;
   outline: none;
   font-size: 1.6rem;
   padding-left: 10px;
   background-color: #1d2128;
   border: 1px solid var(--footer-text-color);
   border-right: none;
   border-radius: 8px 0 0 8px;
   color: var(--white);
}

.promotion__submit {
   height: 100%;
   width: 126px;
   border: none;
   border-radius: 0 8px 8px 0;
   font-size: 1.6rem;
   color: var(--footer-text-color);
   background-color: var(--primary-color);
}

.footer__socials {
   margin: 30px 0;
}

.footer__socials img + img {
   margin-left: 4px;
}

.footer__copyright {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.2rem;
}

.footer__copyright i {
   font-size: 0.5rem;
   margin: 0 8px;
}
